body, p, td, table, tr, .bodytext {
	font-family: Verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #000000;
}

body {
	margin:0px;
	padding:0px;
    background-color:#f0f0f0;
}

.navmenu {
    border-style: solid;
 	border-color: #ccc;
	border-width: 1px;
}

.menuheading {
    font-weight: bold;
    background-color: #f0f0f0;
 	border-color: #3c78b5;
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 4px 4px 2px 4px;
}

.menuitems {
	padding: 4px 4px 20px 4px;
}

.helpheading {
    font-weight: bold;
    background-color: #eaeee1;
 	border-color: #3c78b5;
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 4px 4px 2px 4px;
}

.helpcontent {
	padding: 4px 4px 20px 4px;
    background-color: #f5f7f1;
}

#Content {
	text-align:left;
	background-color:#fff;
}

#banner {
    border-width: 1px 0px 5px 0px;
	border-style: solid;
 	border-color: #3c78b5;
}

.pagecontent {
	padding: 5px 5px 5px 5px;
}

.pagebody {
}

.pageheader {
	padding: 5px 5px 5px 0px;
 	border-bottom: #3c78b5;
	border-width: 0 0 1px 0;
	border-style: solid;
}

.pagetitle {
	font-size: 18px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	color: #003366;
}
.pagesubheading {
    color: #666666;
    font-size: 10px;
    padding: 0px 0px 5px 0px;
}

HR {
	color: 3c78b5;
	height: 1;
}

A:link, A:visited, A:active, A:hover {
	color: #003366;
}

.logocell {
    padding: 10px;
}

input {
	font-family: verdana, geneva, arial, sans-serif;
	font-size: 11px;
	color: #000000;
}

textarea, textarea.editor {
	font-family: verdana, geneva, arial, sans-serif;
	font-size: 11px;
	color: #333333;
}

h1 {
	font-size: 24px;
	line-height: normal;
	font-weight: bold;
 	border-bottom: #3c78b5;
	border-width: 0 0 1px 0;
	border-style: solid;
}

h2 {
	font-size: 14px;
	line-height: normal;
	font-weight: bold;
	padding: 0;
	margin: 0 0 2px 0;
}

.smallfont {
    font-size: 10px;
}
.smalltext {
    color: #666666;
    font-size: 10px;
}
.smalltext a {
    color: #666666;
}

/* css hack found here:  http://www.fo3nix.pwp.blueyonder.co.uk/tutorials/css/hacks/ */
.navItemOver { font-size: 10px; font-weight: bold; color: #ffffff; background-color: #003366; cursor: hand; voice-family: '\'}\''; voice-family:inherit; cursor: pointer;}
.navItemOver a { color: #ffffff; background-color:#003366; text-decoration: none; }
.navItemOver a:visited { color: #ffffff; background-color:#003366; text-decoration: none; }
.navItemOver a:hover { color: #ffffff; background-color:#003366; text-decoration: none; }
.navItem { font-size: 10px; font-weight: bold; color: #ffffff; background-color: #3c78b5; }
.navItem a { color: #ffffff; text-decoration: none; }
.navItem a:hover { color: #ffffff; text-decoration: none; }
.navItem a:visited { color: #ffffff; text-decoration: none; }

div.centered { text-align: center; margin: 10px; }
div.centered table {margin: 0 auto; text-align: left; }
.grid {
    margin: 5px;
    border-collapse:collapse;
}
.grid td, .grid th {
    border: 1px solid;
    border-color: #ccc;
    padding: 3px 4px 3px 4px;
}
.grid th {
    background: #f0f0f0;
    text-align: center;
}
.gridHover {
	background-color: #f9f9f9;
	cursor: pointer; cursor: hand; /* use both in this order to keep ie+moz happy */
}

td.infocell {
    background-color: #f0f0f0;
}
.label {
	font-weight: bold;
}
.error {
	background-color: #fcc;
}
.errorBox {
	background-color: #fcc;
    border: 1px solid #c00;
    padding: 5px;
    margin: 5px;
}
.errorMessage {
	color: #c00;
}

blockquote {
	padding-left: 10;
	padding-right: 10;
	margin-left: 5px;
	margin-right: 0;
	border-left: #3c78b5;
	border-width: 0 0 0 1px;
	border-style: none none none solid;
}

.wikitable {
    margin: 5px;
    border-collapse:collapse;
}
.wikitable td, .wikitable th {
    border: 1px solid;
    border-color: #ccc;
    padding: 3px 4px 3px 4px;
}
.wikitable th {
    background: #f0f0f0;
    text-align: center;
}

DIV.small {
	font-size: 70%;
}

H1.pagename {
	margin-top: 0;
}

IMG.inline  {}

.loginform {
    margin: 5px;
    border: #ccc 1px solid;
}

/* The text how the "This is a preview" comment should be shown. */
.previewnote { text-align: center;
                font-size: 150%;
                    color: red; }

/* How the preview content should be shown */
.previewcontent { background: #E0E0E0; }

/* How the system messages should be shown (DisplayMessage.jsp) */
.messagecontent { background: #E0E0E0; }

/* How the "This page has been modified..." -comment should be shown. */
.conflictnote { }

.createlink {
    color: maroon;
}
a.createlink {
    color: red;
}
.template-parameter {
    color: darkblue;
}

.diffadded {
    background: #ddffdd;
    padding: 1px 1px 1px 4px;
	border-left: darkgreen;
	border-width: 0 0 0 4px;
	border-style: solid;
}
.diffdeleted {
    color: #999;
    text-decoration: line-through;
    background: #ffdddd;
    padding: 1px 1px 1px 4px;
	border-left: darkred;
	border-width: 0 0 0 4px;
	border-style: solid;
}
.diffnochange {
    padding: 1px 1px 1px 4px;
	border-left: lightgrey;
	border-width: 0 0 0 4px;
	border-style: solid;
}
.differror {
    background: brown;
}
.diff {
    font-family: lucida console, courier new, fixed-width;
	font-size: 12px;
	line-height: 14px;
}
dt {
    font-weight: bold;
}
.section {
	padding: 0px 0px 20px 0px;
}
#source {
 background-color: #fff;
 color: #000;
 border-right: 1px solid #888;
 border-left: 1px solid #888;
 border-top: 1px solid #888;
 border-bottom: 1px solid #888;
 margin-right: 7px;
 margin-left: 7px;
 margin-top: 1em;
 }

#source pre {
 margin-right: 7px;
 margin-left: 7px;
 }
.breadcrumbs {
    background-color: #036;
    font-size: 80%;
    color: #fff;
    padding: 3px 4px 3px 4px;
}
.breadcrumbs a { color: #ffffff; }
.breadcrumbs a:hover { color: #ffffff; }
.breadcrumbs a:visited { color: #ffffff; }
